body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    width: 930px;
    margin: 0 auto;
}

header {
    background: url(../img/first-bg.jpg) no-repeat center top / cover;
    padding-bottom: 160px;
}

.logo {
    margin-top: 41px;
    float: left;
}

nav {
    margin-top: 50px;
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
    /* the color  */
  --c: #e4b91f;
  /* the height */
  --h: 1.2em;

  line-height: var(--h);  
  color: #e4b91f;
  overflow: hidden;
  text-shadow: 
    0 calc(-1 * var(--h) * var(--_i, 0)) var(--c), 
    0 calc(var(--h) * (1 - var(--_i, 0))) #e4b91f;
  background: 
    linear-gradient(var(--c) 0 0) no-repeat
    calc(200% - var(--_i, 0) * 100%) 100% / 200% calc(100% * var(--_i, 0) + .08em);
  transition: .3s calc(var(--_i, 0) * .3s), background-position .3s calc(.3s - calc(var(--_i, 0) * .3s));
}

.menu li:hover {
    --_i: 1;
}
.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.titles_first {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 170px;
}

h1 {
    font-size: 75px;
    color: white;
    text-transform: uppercase;
    text-align: center;

    margin: 15px;
    padding: 0;
}

.button {
    background: rgb(231, 190, 77);
    color: rgb(82, 72, 72);
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;

    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 50px;

}

