body {
    font-family: Arial, sans-serif;
    color: #fff;
    background: url("img/bg-image.png") no-repeat center top / cover;
}

.container {
    width: 600px;
    background-color: #fff;
    border-radius: 20px;
    color: black;
    
    margin: auto;
    margin-top: 50px;
    padding: 20px;

    display: block;
    box-sizing: border-box;
}

.container h1 {
    margin-top: 15px;
    text-align: center;
}

.anketa fieldset {
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 20px 15px;

    border-radius: 10px;

    transition: box-shadow .3s;

}

.anketa label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.anketa input {
    margin-left: 10px;
}

.sendanswer {
    border-radius: 7px;
    border: none;
    width: 190px;
    height: 45px;
    background-color: rgb(255, 242, 0);

    font-weight: bold;
    text-transform: uppercase;
    display: block;

    margin: auto;
    

    cursor: pointer;

  
  

}

.sendanswer:hover {
    background-color:rgb(232, 223, 37);
    
}

.sendanswer:active {
    margin-top: 25px;
}



.anketa fieldset:hover {
    box-shadow: 0 0 15px rgb(107, 194, 218);
}

nav {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin-top: 20px;
}

nav li {
    float: left;
    margin-right: 41px;
    display: block;
}
